html {
  height: 100%;
}

header {
  height: 12rem;
  width: 100%;
  position: relative;
}

@media (max-width: 900px) {
  header {
    height: 8rem;
  }
}

@media (max-width: 750px) {
  header {
    height: 4rem;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.title {
  font-family: fantasy;
  text-shadow: 2px 2px 10px #777;
  width: 7ch;
  border-right: 0.02em solid;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 3s steps(7, end), caret 0.5s step-end infinite;
          animation: typing 3s steps(7, end), caret 0.5s step-end infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

@media (max-width: 900px) {
  .title {
    font-size: 40px !important;
  }
}

@media (max-width: 750px) {
  .title {
    font-size: 25px !important;
  }
}

li {
  padding-left: 20px;
  font-family: cursive;
  font-size: 25px;
}

body {
  background-color: #f5f5f5 !important;
  height: 100%;
  width: 100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  height: auto !important;
}

footer {
  background-color: #d3d3d3;
  position: absolute;
  width: 100%;
}

.footer-text {
  font-family: fantasy;
  text-shadow: 2px 2px 10px #777;
  padding: 5rem;
  text-align: center !important;
}

.copyright {
  font-size: 7px;
}

.commentary {
  text-align: center;
  position: relative;
}

.extinguisher {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
  height: 500px;
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

@media (max-width: 900px) {
  .extinguisher {
    height: 300px;
  }
}

@media (max-width: 750px) {
  .extinguisher {
    height: 300px;
    width: 100%;
  }
}

.commentaryTitle {
  font-size: 2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-20%);
  transform: translateX(-50%);
  font-weight: bold;
}

@media (max-width: 900px) {
  .commentaryTitle {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .commentaryTitle {
    font-size: 1rem;
  }
}

.commentaryText {
  font-size: 0.9rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-40%);
  transform: translateX(-50%);
}

@media (max-width: 750px) {
  .commentaryText {
    width: 90%;
  }
}

button {
  background: #696969;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  padding: 7em 7em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background: #fff;
  color: #696969;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #696969;
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.btn-wrapper {
  padding: 10em 2em;
  text-align: center !important;
}

a {
  color: inherit !important;
}

.panel {
  background-color: #f5f5f5;
}

@media (max-width: 750px) {
  .graybutton {
    padding: 60px 39px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
}

